                        {% csrf_token %}
                        <div class="event_line">
                            <p>Название</p>
                            {{ event_form.title }}</div>
                        <div class="event_text">
                            <p>Подробное описание</p>
                            {{ event_form.description }}</div>
                        <div class="event_line">
                            <p>Место, адрес:</p>
                            {{ event_form.location }}
                        </div>
                        <div class="event_line">
                            <p>Время:</p>
                            {{ event_form.hour }}
                            {{ event_form.minute }}
                        </div>
                        <div class="event_line">
                            <p>Дата:</p>
                            {{ event_form.day }}
                            {{ event_form.month }}
                            {{ event_form.year }}
                        </div>