{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style_userapp.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="wrapper">
        <div class="flex-container-wrapper">
                {% block body %}
                {% endblock %}
        </div>
    </div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/js_userapp.js"></script>
</body>
</html>