<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style_userapp.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="createpage-wrapper">
        <div class="logo-wrapper">
            <div class="flex-logo-wrapper">

                <div class="btn">
                    <form class="creategroup-form" action="{% url 'userapp:editgroup' group_pk=group_pk %}" method="post">
                        {% csrf_token %}
                        <div class="btn mainpg">
                            <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'userapp:userpage' %}">Главная</a></button>
                            <p id="p-purchase">Редактирование группы:</p>
                            <input class="btn-search" id="btn-add-purchase" type="submit" value="OK">
                        </div>
                        {% for item in group_form %}
                            {% if 'is_public' in item.as_widget %}
                                <p>Публичная группа: {{ item }}</p>
                            {% else %}
                                {{ item }}
                            {% endif %}
                        {% endfor %}

                    </form>
                </div>


            </div>
        </div>
    </div>
</body>
</html>