{% extends "userapp/base.html" %}
{% load static %}
{% block body %}
    <div class="flex-container-two">
        <div class="flex-block-wrapper-3">

                <div class="btn">
                    <form class="creategroup-form" action="{% url 'userapp:editgroup' group_pk=group_pk %}" method="post">
                        {% csrf_token %}
                        <div class="btn mainpg">
                            <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'chatapp:chatpage' group_pk=group_pk %}">Назад</a></button>
                            <p id="p-purchase">Редактирование группы:</p>
                            <input class="btn-search" id="btn-add-purchase" type="submit" value="OK">
                        </div>
                        {% for item in group_form %}
                            {% if 'is_public' in item.as_widget %}
                                <p>Публичная группа: {{ item }}</p>
                            {% else %}
                                {{ item }}
                            {% endif %}
                        {% endfor %}

                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock %}