{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

    <div class="flex-container-two">

        <div class="flex-block-wrapper-3">
            <div class="btn mainpg">
                <p id="p-purchase">Поиск групп:</p>
                <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'userapp:usergroups' %}">Мои гр.</a></button>
            </div>
            <form class="search" method="get" action="{% url 'userapp:groupsearch' %}">
                <select name="category">
                    {% for i in categories %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>

                <input type="text" name="query" placeholder="введите название группы"/>
                <input class="search-btn" type="submit" value="поиск"/>

            </form>
            <div class="hide-div" id="hide-groups">
                {% for item in search %}

                        <button class="btn-group" type="button">
                            <a href="{% url 'groupapp:view_one_group' item.pk %}">{{ item.title }}</a>
                        </button>
                        <p>Описание группы:</p>
                        <p>{{ item.description }}</p>
                        {% if user in item.get_users %}
                            <button class="btn-search" type="button">
                                <a href="{% url 'userapp:removeuser' item.pk %}">
                                    <span class="sr-nm">Вы в группе</span>&nbsp;
                                    <span class="add">Выйти из группы</span>
                                </a>
                            </button>
                        {% else %}
                            <button class="btn-search" type="button"><a href="{% url 'userapp:adduser' item.pk %}">Вступить</a></button>
                        {% endif %}

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}