<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style_userapp.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="logo-wrapper">
        <div class="flex-logo-wrapper">

                <div class="btn">
                    <p>{{'You are logged out.'}}</p>
                </div>
                <div class="btn">
                    <button class="logo-input-submit" type="button">
                        <a href="{% url 'auth:authlogin' %}">Login Page</a>
                    </button>
                </div>

        </div>
    </div>
</body>
</html>