<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style_userapp.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>

    <div class="logo-wrapper">
        <div class="flex-logo-wrapper">
            <img class="logo-img" src="/static/img/logo_userapp.png" alt="logo">
            <div class="btn">
                <h2 class="logo-h2">Family Space</h2>
            </div>
            <div class="btn">
                <form class="logo-form" action="{% url 'auth:authlogin' %}" method="post">
                    {% csrf_token %}
                    {{ login_form }}
                    <input class="logo-input-submit" type="submit" value="Войти">
                </form>
            </div>
            <div class="btn">
                <button class="logo-signup-btn" type="button"><a href="{% url 'auth:authreg' %}">Регистрация</a></button>
            </div>
        </div>
    </div>

</body>
</html>