{% extends 'authapp/base_new.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-40 p-r-40 p-t-78" action="{% url 'authapp:signup' %}" method="post" enctype="multipart/form-data">
                    <span class="login100-form-title">FamilySpace</span>
                    {% csrf_token %}
                    {% for i in form %}
                        {{ i.errors }}
                        <div class="wrap-input100 validate-input m-b-16 m-t-26">
                            {{ i }}
                            <span class="focus-input100"></span>
                        </div>
                    {% endfor %}
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">{% trans "Sign up" %}</button>
                    </div>
                    <div class="flex-col-c p-t-10 p-b-30">
                        <span class="txt1 p-b-9">или</span>
                        <a href="{% url 'authapp:signin' %}" class="txt3">{% trans "Sign In" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
