{% extends 'authapp/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Sign up" %}
{% endblock title %}

{% block css %}
    <link href="{% static 'css/authapp.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <form class="form-signup" action="{% url 'authapp:signup' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">{% trans "Sign up"%}</h1>
        {{ form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign up" %}</button>
        <p class="mt-5 mb-3 text-muted">&copy FamilySpace 2019</p>
    </form>

{% endblock content %}