{% extends 'authapp/base_new.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-40 p-r-40 p-t-78" action="{% url 'authapp:edit' user.pk %}" method="post" enctype="multipart/form-data">
                    <div class="container-login100-form">
                        <span class="login100-form-title">FamilySpace</span>
                    </div>
                    <div class="container-login100-form m-b-19">
                        <span class="login100-form-main m-b-16">Мой профиль</span>
                    </div>
                    {% csrf_token %}
                    {% for i in user_form %}
                        <div class="wrap-input100 validate-input m-b-16 m-t-46">
                            {{ i }}
                            <span class="focus-input100"></span>
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    {% for i in userprofile_form %}
                        <div class="birth-input m-b-16 m-t-16">
                            {{ i }}
                            <span class="focus-input100"></span>
                        </div>
                    {% endfor %}
                    <div class="container-login100-form-btn p-t-5 m-b-16">
                        <button type="submit" class="login100-form-btn">{% trans "Save" %}</button>
                    </div>
                    <div class="container-login100-form-btn p-t-5 m-b-16">
                        <button type="submit" class="login100-form-btn">
                            <a href="{% url 'userapp:usergroups' %}" class="txt3">{% trans "Отмена" %}</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

