{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

            <div class="flex-container-two" id="shop">
                <div class="flex-block-wrapper-3" id="fbw3-div">
                    <div class="btn mainpg">
                        <p id="p-purchase">Чат</p>
                        <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'groupapp:groupmenu' group_pk=group_pk %}">Назад</a></button>
                    </div>

                    <div class="message-input">
                        <div class="messages-box">
                            {% for item in messages %}
                                {% if item.user == user %}
                                    <div class="chat-messages-logged">
                                        <p class="message-text">{{ item.text }}</p>
                                        <p class="author-date-logged">{{ item.user }} {{ item.date_create }}</p>
                                    </div>
                                {% else %}
                                    <div class="chat-messages">
                                        <p class="message-text">{{ item.text }}</p>
                                        <p class="author-date">{{ item.user }} {{ item.date_create }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="chat-input">
                            <form action="{% url 'chatapp:chatpage' group_pk=group_pk %}" method="post">
                                {% csrf_token %}
                                {{ chatform.as_p }}
                                <input class="message-send" type="submit" value="Отправить">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}