{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

        <div class="flex-container-two" id="shop">

            <div class="flex-block-wrapper-3">
                <p>Архив событий: </p>
                <div class="hide-div" id="hide-groups">
                    {% for item in events %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                <a href="{% url 'eventapp:read_event' item.pk %}">{{ item.title}} {{ item.date|date:'d-m-Y'}}</a>
                            </button>
                        </div>
                    {% endfor %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                <a href="{% url 'eventapp:show_events' group_pk %}">Назад</a>
                            </button>
                        </div>
                </div>
            </div>

        </div>

{% endblock %}