{% extends "userapp/base.html" %}
{% load static %}
{% block body %}
    <div class="flex-container-two" id="shop">
        <div class="flex-block-wrapper-3">
            <div class="btn">
                <form class="" action="{% url 'eventapp:copy_event' event_pk=event_pk group_pk=group_pk %}" method="post">
                    <div class="btn mainpg">
                        <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'eventapp:read_archived_event' event_pk=event_pk group_pk=group_pk %}">Назад</a></button>
                        <p id="p-purchase">Дублирование события: </p>
                        <input class="btn-search" id="btn-add-purchase" type="submit" value="OK">
                    </div>
                    {% include 'eventapp/inc/inc_event_form.html' %}
                </form>
            </div>
            <div>{{ message }}</div>
        </div>
    </div>
{% endblock %}