{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

        <div class="flex-container-two" id="shop">
            <div class="flex-block-wrapper-3">

                <div class="btn mainpg">
                    <p id="p-purchase">Изменение события: </p>
                    <button class="btn-search" id="btn-add-purchase" type="button">
                        <a href="{% url 'eventapp:show_events' group_pk %}">Назад</a>
                    </button>
                </div>

                <div class="btn">
                    <form class="" action="{% url 'eventapp:edit_event' event_pk %}" method="post">

                            {% include 'eventapp/inc/inc_event_form.html' %}

                        <input class="logo-input-submit" type="submit" value="Сохранить изменения">

                    </form>
                </div>
                <div>{{ message }}</div>
            </div>
        </div>

{% endblock %}