{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

        <div class="flex-container-two" id="shop">

            <div class="flex-block-wrapper-3">
                <p>{{ event.title }}</p>
                <div class="hide-div" id="hide-groups">
                    <p>{{ event.description }}</p>
                    <p>{{ event.location }}</p>
                    <p>{{ event.date }}</p>
                    {% for item in eventusers %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                    <a href="">
                                        {% if item.user  == request.user %}
                                                Вы
                                        {% else %}
                                            {{ item.user.username }}
                                        {% endif %}
                                    </a>
                            </button>
                        </div>
                    {% endfor %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                <a href="{% url 'eventapp:edit_event' event.pk %}">Дублировать</a>
                            </button>
                        </div>
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                <a href="{% url 'eventapp:archived_events' event.group.pk %}">Назад</a>
                            </button>
                        </div>
                </div>
            </div>

        </div>

{% endblock %}