{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

        <div class="flex-container-two" id="shop">

            <div class="flex-block-wrapper-3">

                <div class="btn mainpg">
                    <button class="btn-search" type="button">
                        <a href="{% url 'eventapp:copy_event' event.pk %}">Дублировать</a>
                    </button>

                    <button class="btn-search" id="btn-add-purchase" type="button">
                        <a href="{% url 'eventapp:archived_events' event.group.pk %}">Назад</a>
                    </button>
                </div>

                <div class="hide-div" id="hide-groups">
                    <p>{{ event.date.date|date:"d.m.Y" }}</p>
                    <p>{{ event.date.time }}</p>
                    <p>{{ event.title }}</p>
                    <p>{{ event.description }}</p>
                    {% for item in eventusers %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                    <a href="">
                                        {% if item.user  == request.user %}
                                                Вы
                                        {% else %}
                                            {{ item.user.username }}
                                        {% endif %}
                                    </a>
                            </button>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

{% endblock %}