{% extends "userapp/base.html" %}
{% load static %}
{% block body %}
    <div class="flex-container-two" id="shop">
        <div class="flex-block-wrapper-3">
            <div class="btn mainpg">
                <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'chatapp:chatpage' group_pk=group_pk %}">Назад</a></button>
                <p id="p-purchase">События группы:</p>
                <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'eventapp:archived_events' group_pk=group_pk %}">Архив</a></button>
                <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'eventapp:create_event' group_pk=group_pk %}">Добавить</a></button>
            </div>
            {% for item in events %}
                <div class="btn mainpg">
                    <button class="btn-group" type="button">
                        <a href="{% url 'eventapp:read_event' event_pk=item.pk group_pk=group_pk %}">{{ item.title }}</a>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}