{% extends "userapp/base_new.html" %}
{% load static %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-40 p-r-40 p-t-58" action="{% url 'shop:purchasecreation' group_pk=group_pk %}" method="post" enctype="multipart/form-data">
                    <span class="login100-form-title">FamilySpace</span>
                    <div class="btn mainpg">
                        <button class="login100-form-btn creategroup-btn" type="button"><a href="{% url 'shop:shoppinglist' group_pk=group_pk %}" class="txt4">Назад</a></button>
                        <p class="txt3 creategroup-p">Новая покупка:</p>
                        <input class="login100-form-btn creategroup-btn" type="submit" value="OK">
                    </div>
                    {% csrf_token %}
                    {% for item in purchase_form %}
                        {% if 'comment' in item.as_widget %}
                            <div class="wrap-input100 validate-input m-b-16 m-t-26">
                                <textarea name="comment" cols="40" rows="10" placeholder="Комментарий" class="input100" id="id_description"></textarea>
                            </div>
                        {% else %}
                            <div class="wrap-input100 validate-input m-b-16 m-t-26">
                                {{ item }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
