<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style_userapp.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="createpage-wrapper">
        <div class="logo-wrapper">
            <div class="flex-logo-wrapper">
                    <div class="btn">

                        <form class="creategroup-form" action="{% url 'shop:purchasecreation' group_pk=group_pk %}" method="post">
                            {% csrf_token %}
                            {% for item in purchase_form %}
                                {{ item }}
                            {% endfor %}
                            <input class="logo-input-submit" type="submit" value="Сохранить">
                        </form>

                    </div>
                    <div class="btn">

                        <button class="logo-signup-btn" type="button">
                            <a href="{% url 'shop:shoppinglist' group_pk=group_pk %}">Отмена</a>
                        </button>

                    </div>
            </div>
        </div>
    </div>
</body>
</html>