{% extends "userapp/base.html" %}
{% load static %}
{% block body %}
    <div class="flex-container-two" id="shop">
        <div class="flex-block-wrapper-3" id="fbw3-div">
            <div class="btn">
                <form class="creategroup-form" action="{% url 'shop:purchasecreation' group_pk=group_pk %}" method="post">
                    {% csrf_token %}
                    <div class="btn mainpg">
                        <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'shop:shoppinglist' group_pk=group_pk %}">Назад</a></button>
                        <p id="p-purchase">Новая покупка:</p>
                        <input class="btn-search" id="btn-add-purchase" type="submit" value="OK">
                    </div>
                    {% for item in purchase_form %}
                        {{ item }}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}