* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

/* MEDIA QUERIES USER PAGE */
/* TABLETS/MOBILES */

.wrapper {
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
}

.flex-container-wrapper {
    width: 100%;
    background: #f3f3f3;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.img-logo {
    width: 150px;
    margin: 25px 0;
}

.flex-container-one {
    width: 100%;
    background: #f3f3f3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flex-container-two {
    width: 100%;
    background: #f3f3f3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.user-name {
    margin: 0;
    background: #b43e3f;
    width: 100%;
    min-width: 150px;
    line-height: 300%;
    /*cursor: pointer;*/
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name p {
    font-family: Arial;
    font-size: 14px;
    color: white;
}

.btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-menu {
    height: 40px;
    margin: 0 0;
    background: #56b45a;
    width: 100%;
    /*min-width: 150px;*/
    line-height: 300%;
    cursor: pointer;
    border: none;
    font-size: 14px;
    transition: .2s;
    border-bottom: 0.5px solid #055515;
}

.btn-menu a {
    text-decoration: none;
    color: white;
}

.btn-menu:hover {
    background: #2c7cb4;
    border-bottom: 0.5px solid #c5c7c7;
}

.userblock {
    background: #b45e5d;
}

.sr-nm, .userblock:hover .add {
 display: inline;
}

.userblock:hover .sr-nm, .add {
 display: none;
}

.btn-group {
    margin: 1% 1%;
    border: none;
    background: white;
    width: 60% !important;
    line-height: 300%;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}

.btn-group:hover {
    background: #272727;
}

.btn-group a {
    text-decoration: none;
    color: #272727;
}

.btn-group:hover a {
    color: white;
}

.toggleMenu {
    display: none;
}

.flex-container-two p {
    display: none;
}

.flex-block-wrapper-1, .flex-block-wrapper-2 {
    display: none;
}

.flex-block-wrapper-3 {
    width: 100%;
    padding: 1%;
    background: white;
    display: flex;
    flex-flow: column;
    /*justify-content: center;*/
    align-items: center;
}

.hide-div {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-flow: column;
    /*justify-content: center;*/
    text-align: center;
    align-items: center;

}

#hide-groups {
    display: flex;
}

.search {
    margin: 3%;
    width: 250px;
}

.search-btn {
    border: none;
    background-color: #2c7cb4;
    color: white;
    cursor: pointer;
    line-height: 14px;
    padding: 1%;
}

.search-btn:hover {
    background-color: #56b45a;
}

.btn-search {
    margin: 1% 1%;
    border: none;
    background: #5f88b4;
    width: 30%;
    line-height: 300%;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}

.btn-search:hover {
    background: #88b456;
}

.btn-search a {
    text-decoration: none;
    color: #ffffff;
}

.btn-search:hover a {
    color: white;
}

.sr-nm, .btn-search:hover .add {
 display: inline;
}

.btn-search:hover .sr-nm, .add {
 display: none;
}

/* MEDIA QUERIES USER PAGE */
/* DESKTOP */
@media screen and (min-width: 768px) {

    .wrapper {
        background-color: #f3f3f3;
        width: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .flex-container-wrapper {
        display: inline-block;
        flex-flow: column;
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 100%;
    }

    .img-logo {
        display: none;
    }

    .flex-container-one {
        width: 100%;
        background: #f3f3f3;
        display: flex;
        flex-flow: row;
    }

    .flex-container-two {
        background: #f3f3f3;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        text-align: center;
    }

    .flex-container-two p {
        color: #272727;
        font-size: 20px;
        font-family: Arial;
        margin: 2%;
        display: block;
    }

    .flex-block-wrapper-1 {
        display: block;
        margin-top: 5%;
        flex: 0 0 25%;
        height: 500px;
        background-color: white;
        border: 0.5px solid lightgrey;
        border-radius: 10px;
        box-shadow: 5px 5px 2px lightgrey;
    }

    .flex-block-wrapper-2 {
        display: block;
        margin-top: 5%;
        flex: 0 0 25%;
        height: 500px;
        background-color: white;
        border: 0.5px solid lightgrey;
        border-radius: 10px;
        box-shadow: 5px 5px 2px lightgrey;
    }

    .flex-block-wrapper-3 {
        display: flex;
        margin-top: 5%;
        flex: 0 0 25%;
        height: 500px;
        background-color: white;
        border: 0.5px solid lightgrey;
        border-radius: 10px;
        box-shadow: 5px 5px 2px lightgrey;
        flex-flow: column;
        /*justify-content: center;*/
        /*text-align: center;*/
        /*align-items: center;*/
    }

    .flex-block-wrapper-3 p {
        margin: 0 auto;
        margin-top: 1%;
    }

    .btn-menu {
        border-left: 0.5px solid #f3f3f3;
        border-right: 0.5px solid #f3f3f3;
        border-bottom: 0.5px solid #f3f3f3;
    }

    #hide-groups {
        display: flex;
    }

    .btn-group {
        width: 90%;
        background-color: #2c7cb4;
    }

    .btn-group a {
        color: white;
    }

    .hide-div {
        width: 98%;
        height: 100%;
        background: white;
        display: flex;
        flex-flow: column;
        /*justify-content: center;*/
        text-align: center;
        align-items: center;

    }


}

/* END USER PAGE */

/* LOGIN PAGE */
/* MOBILES/TABLETS */

.logo-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.flex-logo-wrapper {
    width: 100%;
    background: #f3f3f3;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logo-img {
    width: 150px;
    margin: 20% 0;
}

.btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo-h2 {
    font-style: italic;
    font-size: 40px;
    margin: 10px auto;
    color: #272727;
}

.logo-form {
    max-width: 70%;
    margin: 10px auto;
    position: relative;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logo-input {
    margin: 2%;
    padding: 0 2%;
    width: 235px;;
    line-height: 200%;
}

.logo-input-submit {
    margin: 20px 0 0;
    background: #56b45a;
    width: 180px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    transition: .4s;
}

.logo-input-submit a {
    text-decoration: none;
    color: white;
}

.logo-input-submit:hover {
    background: #2c7cb4;
}

.logo-signup-btn {
    margin: 0px;
    background: white;
    width: 180px;
    line-height: 40px;
    cursor: pointer;
    border: 0.5px solid lightgrey;
    color: #363638;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    transition: .4s;
}

.logo-signup-btn a {
    text-decoration: none;
    color: #363638;
}

.logo-signup-btn:hover {
    background: #272727;
    border: 0.5px solid #272727;
}

.logo-signup-btn:hover a {
    color: white;
}

.helptext {
    display: none;
}

.logo-form ul {
    display: none;
}

/* MEDIA QUERIES LOGIN PAGE */
/* DESKTOP */

@media screen and (min-width: 768px) {
    .logo-wrapper {
        background-color: white;
        border: 0.5px solid lightgrey;
        width: 300px;
        margin: 0 auto;
        padding: 2% 2%;
        position: absolute;
        top: 10%;
        max-height: 500px;
        text-align: center;
        overflow: hidden;
        box-shadow: 5px 5px 2px lightgrey;
        border-radius: 10px;
    }

    .flex-logo-wrapper {
        width: 100%;
        background: white;
        overflow: hidden;
    }

    .logo-img {
        width: 150px;
        margin: 20px 0;
    }

}

/* END LOGIN PAGE */

/* CREATEGROUP PAGE*/
/* MOBILES/TABLETS */

.creategroup-form {
    max-width: 75%;
    margin: 10px auto;
    position: relative;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.creategroup-form p {
    font-size: 22px;
    margin: 1% 0 2%;
}

#id_is_public {
    width: 30px;
    height: 15px;
    margin: 0;
}

/* CREATEGROUP PAGE*/
/* DESKTOP */

@media screen and (min-width: 768px) {
    .createpage-wrapper {
        height: 100%;
        width: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
        overflow: hidden;
    }
}

/* SHOPPINGAPP PAGE*/
/* DESKTOP */

@media screen and (min-width: 768px) {
    #shop {
        text-align: left;
    }

    #btn-add-purchase {
        margin: 2% 2%;
        width: 20%;
        border-radius: 10px;
        line-height: 200%;
    }

    #change-role:hover, #remove-purchase:hover {
        background: #b42f25 !important;
    }

    #p-purchase {
        width: 60%;
        margin: 2% 5% 1% 3%;
    }

    #remove-purchase {
        width: 25%;
    }

    #check-purchase {
        width: 40%;
    }

    #purchase-done {
        font-size: 22px;
    }

    #id_done {
        width: 30px;
        height: 15px;
        margin: 0;
    }

    #id_group, #id_user {
        width: 249px;

    }

    .buy-done {
        background-color: #56b45a;
    }
}

/* CHATAPP PAGE*/
/* DESKTOP */

@media screen and (min-width: 768px) {

    .message-input {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .messages-box {
        border: 1px solid #ebebeb;
        height: 80%;
        padding: 1%;
        overflow-y: scroll;
    }

    .chat-messages {
        float: left;
        background-color: #efefef;
        padding: 1%;
        border-radius: 5px;
        margin-top: 2%;
        width: 70%;
    }

    .chat-messages-logged {
        float: right;
        background-color: #efefef;
        padding: 1%;
        border-radius: 5px;
        margin-top: 2%;
        width: 70%;
    }

    .message-text {
        margin-top: 0 !important;
        font-size: 15px !important;
    }

    .author-date {
        font-size: 9px !important;
        color: red !important;
    }

    .author-date-logged {
        font-size: 9px !important;
        color: #5e74ff !important;
    }

    #id_text {
        margin-bottom: 1%;
        margin-right: 16px;
    }

    .chat-input {
        position: absolute;
        bottom: 1%;
        right: 1%;
    }

    .message-send {
        float: right;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}