{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

        <div class="flex-container-two">

            <div class="flex-block-wrapper-3">
                <p>Ваши группы: </p>
                <div class="hide-div" id="hide-groups">
                    {% for group in grouplist %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button"><a href="{% url 'groupapp:view_one_group' group.pk %}">{{ group.title }}</a></button>
                        </div>
                    {% endfor %}
                </div>

            </div>


        </div>

{% endblock %}