{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

        <div class="flex-container-two">

            <div class="flex-block-wrapper-3">
                <p>Участники группы: </p>
                <div class="hide-div" id="hide-groups">
                    {% for item in members %}
                        <div class="btn mainpg">
                            <button class="btn-group" type="button">
                                <a href="#">{{ item.username }}</a>
                            </button>
                            <button class="btn-search" type="button">
                                <a href="#">
                                    <span class="sr-nm">Роль</span>&nbsp;
                                    <span class="add">Изменить</span>
                                </a>
                            </button>
                            <button class="btn-search" id="change-role" type="button">
                                <a href="#">Исключить</a>
                            </button>
                        </div>
                    {% endfor %}
                </div>

            </div>


        </div>

{% endblock %}