{% extends "userapp/base.html" %}
{% load static %}
{% block body %}

    <div class="flex-container-two" id="shop">
        <div class="flex-block-wrapper-3" id="fbw3-div">
            <div class="btn">
                <form class="creategroup-form" action="{% url 'groupapp:roleedit' group_pk=group_pk participant_pk=participant_pk %}" method="post">
                    {% csrf_token %}
                    <div class="btn mainpg">
                        <button class="btn-search" id="btn-add-purchase" type="button"><a href="{% url 'groupapp:view_one_group' group_pk=group_pk %}">Назад</a></button>
                        <p id="p-purchase">Редактирование:</p>
                        <input class="btn-search" id="btn-add-purchase" type="submit" value="OK">
                    </div>
                    {% for item in edit_form %}
                            {{ item }}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}